<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Films</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
  </head>

  <body>
    
    <table>
      <tr>
      	<th>Film title</th>
        <th>Film description</th>
        <th>Start Date</th>
        <th>Hall</th>
      </tr>
      <tr th:each="projection : ${projections}">
      	<td th:text="${projection.film.title}">1</td>
        <td th:text="${projection.film.description}">City</td>
        <td th:text="${projection.reservation.startDate}">City</td>
        <td th:text="${projection.reservation.hall.id}">City</td>
      </tr>
    </table>
    <form th:action="@{/projections/add}" method="get">
    	<input type="submit" value="Add" />
    </form>
  	
  </body>

</html>