<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Films</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
  </head>

  <body>
  <h1 th:text="${film.title}"></h1>
  <h2 th:text="${film.duration}"></h2>
  <p th:text="${film.description}"></p>
    <table>
      <tr>
      	<th>Title</th>
        <th>Duration</th>
      </tr>
      <tr th:each="projection : ${projections}">
      	<td th:text="${projection.id}">1</td>
        <td th:text="${projection.startDate}">Name</td>
      </tr>
    </table>
  	
  </body>

</html>